<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="remote_lat"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.juckel.zeromq.testapp.RemoteLat">
         </run>
      </application>
   </extension>
   <extension
         id="local_lat"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.juckel.zeromq.testapp.LocalLat">
         </run>
      </application>
   </extension>
   <extension
         id="subscriber"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.juckel.zeromq.testapp.Subscriber">
         </run>
      </application>
   </extension>
   <extension
         id="publisher"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.juckel.zeromq.testapp.Publisher">
         </run>
      </application>
   </extension>

</plugin>
